<table id="links" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>
            <a href="https://app.bepro.network/dashboard" id="manage-link">Manage your Bepro Notifications</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="https://app.bepro.network" class="link-item">App</a>
            <a href="https://bepro.network" class="link-item">Website</a>
            <a href="https://discord.gg/layerx" class="link-item">Discord</a>
            <a href="https://twitter.com/bepronet" class="link-item">Twitter</a>
        </td>
    </tr>
</table>