.category-filter {
  &-content {
    background: #17171C;
    border-radius: 16px;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      border-radius: 16px;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity 0.25s linear;
      opacity: 0;
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }

    &-blue {
      &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(68, 87, 232, 0.2) 0%, rgba(68, 87, 232, 0) 100%), linear-gradient(0deg, #17171C, #17171C);
      }
    }

    &-purple {
      &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(120, 68, 232, 0.2) 0%, rgba(120, 68, 232, 0) 100%), linear-gradient(0deg, #17171C, #17171C);
      }
    }
    
    &-green {
      &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(68, 232, 134, 0.2) 0%, rgba(68, 232, 134, 0) 100%), linear-gradient(0deg, #17171C, #17171C);
      }
    }
    
    &-orange {
      &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(232, 196, 68, 0.2) 0%, rgba(232, 196, 68, 0) 100%), linear-gradient(0deg, #17171C, #17171C);
      }
    }
  }
  
  &-wrapper {
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 2px;

    &-blue {
      background: conic-gradient(from 270deg at 50% 75%, #4457E8 0deg, #AAF6FC 79.2deg, #2864FE 185.4deg, #7FD1F9 282.6deg, #7064EC 360deg);
    }

    &-purple {
      background: conic-gradient(from 270deg at 50% 75%, #7844E8 0deg, #D8AAFC 79.2deg, #B68FFC 185.4deg, #C37FF9 282.6deg, #7064EC 360deg);
    }

    &-green {
      background: conic-gradient(from 270deg at 50% 75%, #44E886 0deg, #AAFCCB 79.2deg, #8FFCAD 185.4deg, #7FF9A1 282.6deg, #64EC9A 360deg);
    }

    &-orange {
      background: conic-gradient(from 270deg at 50% 75%, #E8C444 0deg, #FCCDAA 91.8deg, #FCBD8F 185.4deg, #F9C87F 282.6deg, #EC9D64 360deg);
    }
  }
}